<html>
<head th:replace="~{base::head}">

</head>
<body>
	<div class="container">
		<div th:replace="~{base::titulo('Nova Carteira')}"></div>
		
		
		<div class="card mt-3">
			<form th:object="${requisicaoNovaCarteira}" class="card-body"
				action="/carteira/save" method="POST">

				<div class="form-group">
					<input type="hidden" th:field="*{id}" id="id" name="id">
				</div>

				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea class="form-control" name="descricao"
						th:field="*{descricao}"
						placeholder="Exemplo: Mercantil"></textarea>
				</div>
				

				<div style="text-align: center; margin: 25px">
					<h4>Saldo:</h4>
					<h4 th:text="*{'R$ ' + #numbers.formatDecimal(saldo, 0, 'COMMA', 2, 'POINT')}">Saldo:</h4>
				</div>

				<button class="btn btn-primary" type="submit">Cadastrar</button>

			</form>
			
			<div >
				
			</div>
			
			<h6 style="text-align:center">Transações da Carteira</h6>
				
				<a th:href="@{/carteiraTransacao/formulario/carteira/{id}(id=${id})}">
					<button class="btn btn-outline-secondary my-2 my-sm-0">Nova transação</button>
				</a>
				
				<table class="table table-striped  table-bordered" th:if="${transacoesCarteira != null}">
				    <thead>
				        <tr>
				            <th scope="col"> Tipo </th>
				            <th scope="col"> Valor </th>
				            <th scope="col"> Data </th>
				            <th scope="col"> Despesa </th>
				            <th scope="col"> Destino </th>
				            <th scope="col"> Origem </th>
				        </tr>
				    </thead>
				    <tbody>
						<tr th:if="${transacoesCarteira.empty}">
				            <td colspan="2"> Nenhuma transferência realizada nessa carteira. </td>
				        </tr>
				        <tr  th:each="transacao : ${transacoesCarteira}">
				            <td><span th:text="${transacao.tipo}"> Tipo </span></td>
				            <td><span th:text="${ 'R$ ' + transacao.valorRoot}"></span></td>
				            <td><span th:text="${#temporals.format(transacao.data, 'dd/MM/yyyy')}"> Data </span></td>
				            <td><span th:if="${transacao.despesa != null}" th:text="${transacao.despesa.id}" >Despesa</span> 
				            <td><span th:if="${transacao.destino != null}" th:text="${transacao.destino.descricao}" >Destino</span> 
				            <td><span th:if="${transacao.origem != null}" th:text="${transacao.origem.descricao}" >Origem</span> 
				            
				        </tr>
				    </tbody>
				</table>
		</div>
	</div>
</body>
</html>