<html>
<head th:replace="~{base::head}">

</head>
<body>
	<div class="container">
		<div th:replace="~{base::titulo('Nova Carteira')}"></div>

		<div class="card mt-3">
			<form th:object="${requisicaoNovaCarteira}" class="card-body"
				action="/carteira/save" method="POST">

				<div class="form-group">
					<input type="hidden" th:field="*{id}" id="id" name="id">
				</div>

				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea class="form-control" name="descricao"
						th:field="*{descricao}"
						placeholder="Exemplo: Mercantil"></textarea>
				</div>
				
				<div class="form-group">
					<label for="descricao">Valor</label>
					<input class="form-control" name="valor"
						th:field="*{valor}"
						placeholder="Valor">
				</div>

				<div>
					
				</div>

				<button class="btn btn-primary" type="submit">Cadastrar</button>
				
				
				<h6 style="text-align:center">Transações da Carteira</h6>
				<div class="card mb-3" th:each="transacao : ${transacoesCarteira}">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								Tipo de Operacao: <span
									th:text="${transacao.tipo}"></span>
									
							</div>
							<div class="col-md-6">
								Data: <span
									th:text="${#temporals.format(transacao.data, 'dd/MM/yyyy')}"></span>
									
							</div>
							
							<div class="row ">
								<div class="col-md-5">
									Valor: 
									<span th:text="${ 'R$ ' + transacao.valor}"></span>
								</div>
							</div>
							
							
							<div class="row ">
								<div>Debito referente a despesa de ID:
									<span th:text="${transacao.despesa.id}" ></span>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>