<html>
<head th:replace="~{base::head}">

</head>

<body>
	<div th:replace="~{base :: logo}" />
	<div class="container">
		<div th:replace="~{base::titulo('Categorias')}"></div>

		<a href="/categoria/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
		
		<table class="table table-striped  table-bordered">
				    <thead>
				        <tr>
				            <th scope="col"> Descrição </th>
				            <th scope="col"> Ações </th>
				        </tr>
				    </thead>
				    <tbody>
						<tr th:if="${categorias.empty}">
				            <td colspan="2"> Nenhuma categoria cadastrada. </td>
				        </tr>
				        <tr  th:each="categoria : ${categorias}">
				            <td><span th:text="${categoria.descricao}"> Descrição </span></td>
				            <td><a th:href="@{/categoria/formulario/editar/{id}(id=${categoria.id})}">Editar</a></td></td>
				        </tr>
				    </tbody>
				</table>
	</div>
</body>
</html>