<html>
<head th:replace="~{base::head}">

</head>

<body>
	<div th:replace="~{base :: logo}" />
	<div class="container">
		<div th:replace="~{base::titulo('Operações')}"></div>
		
		<div class="container-fluid">
			<select class="form-select " aria-label=".form-select-lg example">
			  <option selected>Open this select menu</option>
			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			</select>
		</div>

		<a href="/operacao/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
		
		<table class="table table-striped  table-bordered">
				    <thead>
				        <tr>
				            <th scope="col"> Descrição </th>
				            <th scope="col"> Valor </th>
				            <th scope="col"> Categoria </th>
				            <th scope="col"> Carteira </th>
				            <th scope="col"> Data </th>
				            <th scope="col"> Efetuada </th>
				            <th scope="col"> Ações </th>
				        </tr>
				    </thead>
				    <tbody>
						<tr th:if="${operacoes.empty}">
				            <td colspan="2"> Nenhuma operação realizada. </td>
				        </tr>
				        <tr  th:each="operacao : ${operacoes}">
				            <td><span th:text="${operacao.descricao}"> Descrição </span></td>
				            <td><span th:text="${ 'R$ ' + operacao.valor}"></span></td>
				            <td><span th:text="${operacao.categoria}"> Categoria </span></td>
				             <td><span th:text="${operacao.carteira}"> Carteira </span></td>
				            <td><span th:text="${#temporals.format(operacao.data, 'dd/MM/yyyy')}"> Data </span></td>
				            <td><span th:text="${operacao.efetuada ? 'Sim' : 'Não' }"> Efetuada </span></td>
				            <td><a th:href="@{/operacao/formulario/editar/{id}(id=${operacao.id})}">Editar</a></td>
				        </tr>
				    </tbody>
				</table>
		
	</div>
</body>
</html>