<html>
<head th:replace="~{base::head}">

</head>

<body>
	<div th:replace="~{base :: logo}" />
	<div class="container">
	<div th:replace="~{base::titulo('Operações')}"></div>
		
	
	<form action="/home/searchByFilter" method="GET" th:object="${requisicaoDespesaFilter}">
			<div th:if="${#fields.hasAnyErrors()}">
			    <ul>
			        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" th:class="error" />
			    </ul>
			</div>
			<div class="row" style="margin-bottom: 40px; border: 1px solid; padding-top: 10px; padding-bottom: 20px;">
				<div class="col">
					<label>Mês</label>
					<input type="text" th:field="*{date}" class="form-control" placeholder="Pesquisar por um mes/ano. ex: 05/2022" aria-label="Pesquisar por um mes/ano. ex: 05/2022" aria-describedby="basic-addon2">
					<div class="invalid-feedback" th:errors="*{date}">
					</div>
				</div>
				<div class="col">
					<label>Carteira:</label>
					<select th:field="*{carteira}" th:errorclass="is-invalid" name="carteira" id="carteira" class="form-select " aria-label=".form-select-lg example">
						<option value="">Selecione</option>
			            <option th:each="carteira : ${carteiras}"
			                    th:text="${carteira.descricao}"
			                    th:value="${carteira.id}">
					</select>
					<div class="invalid-feedback" th:errors="*{carteira}">
					</div>
				</div>
				<div class="col">
					<label>Categoria:</label>
						<select th:field="*{categoria}" th:errorclass="is-invalid" name="categoria" id="categoria" class="form-select " aria-label=".form-select-lg example">
						<option value="">Selecione</option>
			            <option th:each="categoria : ${categorias}"
			                    th:text="${categoria.descricao}"
			                    th:value="${categoria.id}">
					</select>
					<div class="invalid-feedback" th:errors="*{categoria}">
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-outline-secondary" type="submit">Pesquisar</button></a>
				</div>
			</div>
		</form>
		
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		  <li class="nav-item" role="presentation">
		    <button class="nav-link active" id="despesa-mes-tab" data-bs-toggle="pill" data-bs-target="#despesa-mes" type="button" role="tab" aria-controls="despesa-mes" aria-selected="true">Despesas mês</button>
		  </li>
		  <li class="nav-item" role="presentation">
		    <button class="nav-link" id="planejamento-mes-tab" data-bs-toggle="pill" data-bs-target="#planejamento-mes" type="button" role="tab" aria-controls="planejamento-mes" aria-selected="false">Planejamento mês</button>
		  </li>
		  <li class="nav-item" role="presentation">
		    <button class="nav-link" id="chart-tab" data-bs-toggle="pill" data-bs-target="#chart" type="button" role="tab" aria-controls="chart" aria-selected="false">Dashboard</button>
		  </li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
		  	<div class="tab-pane fade show active" id="despesa-mes" role="tabpanel" aria-labelledby="despesa-mes-tab">
		 		<a href="/operacao/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
		 		<div style="text-align: center; margin: 25px">
					<h4 th:if="${totalMes != null}" th:text="*{'Total:' + 'R$ ' + #numbers.formatDecimal(totalMes, 0, 'COMMA', 2, 'POINT')}">Saldo:</h4>
				</div>
		  		<table 
				    id="example"
				  	class="table table-striped  table-bordered"  
					data-show-pagination-switch="true"
				  	data-pagination="true"
					data-page-list="[10, 25, 50, 100, all]">
				    <thead>
				        <tr>
				            <th scope="col"> Descrição </th>
				            <th scope="col"> Valor </th>
				            <th scope="col"> Categoria </th>
				            <th scope="col"> Carteira </th>
				            <th scope="col"> Data </th>
				            <th scope="col"> Efetuada </th>
				            <th scope="col"> Ações </th>
				        </tr>
				    </thead>
				    <tbody>
						<tr th:if="${operacoes == null or operacoes.empty}">
				            <td colspan="2"> Nenhuma operação realizada. </td>
				        </tr>
				        <tr  th:each="operacao : ${operacoes}">
				            <td><span th:text="${operacao.descricao}"> Descrição </span></td>
				            <td><span th:text="${ 'R$ ' + operacao.valor}"></span></td>
				            <td><span th:text="${operacao.categoria}"> Categoria </span></td>
				             <td><span th:text="${operacao.carteira}"> Carteira </span></td>
				            <td><span th:text="${#temporals.format(operacao.data, 'dd/MM/yyyy')}"> Data </span></td>
				            <td><span th:text="${operacao.efetuada ? 'Sim' : 'Não' }"> Efetuada </span></td>
				            <td style="display: inline-flex;">
								<button
				            	 th:attr="data-object-id=${operacao.id}"
				            	 type="button" id="buttontest" class="btn btn-primary" 
				            	 data-bs-toggle="modal" data-bs-target="#despesaModal" 
				            	 >
									<i class="fa fa-search"></i>
				            	</button>
								<a th:href="@{/operacao/formulario/editar/{id}(id=${operacao.id})}" class="btn btn-primary">
									<i class="fa fa-edit"></i>
								</a>
								
							</td>
				        </tr>
				    </tbody>
				</table>
				<th:block th:replace="~{_modals :: modal('despesaModal', 'Despesa')}">modal</th:block>
		  </div>
		  
		  <div class="tab-pane fade" id="planejamento-mes" role="tabpanel" aria-labelledby="planejamento-mes-tab">
		  	<a href="/planejamentoMensal/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
			<table  class="table table-striped  table-bordered">
			    <thead>
			        <tr>
			        	
			            <th scope="col"> Descrição </th>
			            <th scope="col"> Valor </th>
			            <th scope="col"> Gasto </th>
			            <th scope="col"> Saldo </th>
			            <th scope="col"> Mês </th>
			            <th scope="col"> Ações </th>
			        </tr>
			    </thead>
			    <tbody>
					<tr th:if="${planejamentos == null or planejamentos.empty}">
			            <td colspan="2"> Nenhuma operação realizada. </td>
			        </tr>
			        <tr  th:each="planejamento : ${planejamentos}">
			            <td><span th:text="${planejamento.descricao}"> Descrição </span></td>
			            <td><span th:text="${ 'R$ ' + planejamento.valor}">Saldo</span></td>
			            <td><span th:text="${ 'R$ ' + #numbers.formatDecimal(planejamento.gasto, 0, 'COMMA', 2, 'POINT')}">Saldo</span></td>
			            <td><span th:text="${ 'R$ ' + #numbers.formatDecimal(planejamento.saldo, 0, 'COMMA', 2, 'POINT')}">Saldo</span></td>
			            <td><span th:text="${planejamento.mes + '/' + planejamento.ano}">Mês</span></td>
			            <td ><a th:href="@{/planejamentoMensal/formulario/editar/{id}(id=${planejamento.id})}">Editar</a></td></td>
			        </tr>
			    </tbody>
			</table>

		  </div>
		  
		  <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
		  	
		  	<div class="container">
			    <div class="row">
				    <div class="col col-lg-6">
					  	<div id="chart_amount_carteira_div"></div> 
				    </div>
				    <div class="col col-lg-6">
				      <div id="chart_amount_categoria_div"></div> 
				    </div>
  				</div>
  			</div>
		  </div>
		  
		</div>
		
	</div>
	<script type="text/javascript" th:inline="javascript">
		//showing tymeleaf parameter to external javascript above !
		var chartAmountCarteiraData = [[${chartAmountCarteiraData}]];
		var chartAmountCategoriaData = [[${chartAmountCategoriaData}]];
	</script>
	<script type="text/javascript" th:src="@{/js/despesa/despesa.js}"></script>
</body>
</html>