<html>
<head th:replace="~{base::head}">

</head>
<body>
	<div th:replace="~{base :: logo}" />
	<div class="container">
		<div th:replace="~{base::titulo('Despesa')}"></div>

		<div class="card mt-3">
			<form th:object="${requisicaoNovaOperacao}" class="card-body"
				action="/operacao/save" method="POST">

				<div class="form-group">
					<input type="hidden" th:field="*{id}" id="id" name="id">
				</div>
				
				<div class="form-group">
					<label for="tipo">Categoria :</label> 
					<select th:field="*{categoria}" th:errorclass="is-invalid" name="categoria" id="categoria" class="form-select " aria-label=".form-select-lg example">
						<option value="">Selecione</option>
			            <option th:each="categoria : ${categorias}"
			                    th:text="${categoria.descricao}"
			                    th:value="${categoria.id}">
					</select>
					<div class="invalid-feedback" th:errors="*{categoria}">
					</div>
				</div>
				
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea class="form-control" name="descricao"
						th:field="*{descricao}"
						placeholder="Adicione detalhes importantes para ajudar o comprador."
						th:errorclass="is-invalid"></textarea>
						<div class="invalid-feedback" th:errors="*{descricao}">
					</div>
				</div>

				<div class="form-group">
					<label for="descricao">Valor</label>
					<input class="form-control mascara" type="text" name="valor" th:field="*{valor}" placeholder="Digite o valor." th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{valor}"></div>
				</div>

				<div class="form-group">
					<label for="descricao">Data:</label> 
					<input class="form-control" 	name="data" th:field="*{data}" placeholder="Digite a data." th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{data}"></div>
				</div>

				<div class="form-group">
					<input class="form-check-input" type="checkbox" name="efetuada"
						id="efetuada" th:field="*{efetuada}" th:checked="*{efetuada}">
					<label class="form-check-label" for="efetuada"> Efetuada </label>
				</div>

				<div class="form-group">
					<label for="tipo">Carteira :</label> 
					<select th:field="*{carteira}" name="carteira" id="carteira" class="form-select " aria-label=".form-select-lg example" th:errorclass="is-invalid">
						<option value="">Selecione</option>
			            <option th:each="carteira : ${carteiras}"
			                    th:text="${carteira.descricao}"
			                    th:value="${carteira.id}">
					</select>
					<div class="invalid-feedback" th:errors="*{carteira}"></div>
				</div>
				
				<div class="form-group">
					<label for="tipo">Planejamento :</label> 
					<select th:field="*{planejamento}" name="planejamento" id="planejamento" class="form-select " aria-label=".form-select-lg example" th:errorclass="is-invalid">
						<option value="">Selecione</option>
			            <option th:each="planejamento : ${planejamentos}"
			                    th:text="${planejamento.descricao}"
			                    th:value="${planejamento.id}">
					</select>
				</div>
				
				<!--  
				<div class="form-group">
					<label for="tipo">Anexo:</label> 
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div> -->
       			
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/mask.js}"></script>
	<script type="text/javascript" th:src="@{/js/unmask.js}"></script>
</body>
</html>